beautifulsoup4==4.14.2
Flask==3.1.2
joblib==1.5.2
matplotlib==3.10.6
nbclient==0.10.0
nbformat==5.10.4
notebook==7.3.2
numpy==2.3.3
pandas==2.3.2
plotly==6.3.0
psycopg2-binary==2.9.10
requests==2.32.5
scikit-learn==1.7.2
scikit-optimize==0.10.2
seaborn==0.13.2
sympy==1.14.0
tensorflow==2.20.0
statsmodels==0.14.5
responses==0.25.8
ipykernel==6.29.5
lexical-diversity
