{% extends 'lab/index.html.j2' %}

{% block html_head %}
    {{ super() }}
    <meta name="description" content="Accessible export of lesson notebook for screen readers."/>
{% endblock html_head %}

{% block body %}
    {{ super() }}
{% endblock body %}
