beautifulsoup4==4.14.2
Flask==3.1.2
joblib==1.5.2
matplotlib==3.10.7
nbclient==0.10.2
nbformat==5.10.4
notebook==7.4.7
numpy==2.3.3
pandas==2.3.3
plotly==6.3.1
psycopg2-binary==2.9.11
requests==2.32.5
scikit-learn==1.7.2
scikit-optimize==0.10.2
seaborn==0.13.2
sympy==1.14.0
tensorflow==2.20.0
statsmodels==0.14.5
responses==0.25.8
ipykernel==6.30.1
lexical-diversity
mysql-connector-python==9.4.0
pymongo==4.15.3
